<div class="jumbotron background">
  <div class="container">
    <div class="head-container">
      <div class="left">
        <h1 class="display-4">Head-2-Head</h1>
        <h2 class="display-6">Tennis Statistics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores atque nobis vitae aperiam numquam? Sapiente
          animi atque voluptas sint veniam earum fugit dolorum deleniti. Impedit quam nam inventore dolore?</p>
      </div>
      <div class="right">
        <Spinner />
      </div>
    </div>
  </div>
</div>
