.jumbotron.background {
  text-align: center;
  font-weight: bold;
  background: url('../../../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  padding: 2rem 1rem;

  p {
    color: #d1d1d1;
    font-size: 1em;
    margin-top: 10px;
  }

  h1 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
