<div class="jumbotron background">
  <div class="container">

    <img src="../../../assets/logo.png" width="200px" alt="logo">
    <!-- <h2>Tennis Statistics</h2> -->

    <!-- <div class="head-container">
      <div class="left">
        <h1 class="display-4">Head-2-Head</h1>
        <h2 class="display-6">Tennis Statistics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores atque nobis vitae aperiam numquam? Sapiente
          animi atque voluptas sint veniam earum fugit dolorum deleniti. Impedit quam nam inventore dolore?</p>
      </div>
      <div class="right">
        <Spinner />
      </div>
    </div> -->
  </div>
</div>
