<section class="versus-graph container">
  <div class="row">
    <div class="col">
      <canvas ref="chart" id="chart"></canvas>
      <h1>vs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ selected }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" v-for="item in list" @click.prevent="onSelection(item)">
            {{ item }}
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
