<div class="author card" style="width: 18rem;">
  <img class="card-img-top" :src="user.avatar_url">
  <div class="card-body">
    <h4 class="card-title">{{user.name}}</h4>
    <h5 class="card-title">{{user.login}}</h5>
    <p class="card-text">
      <p class="author__link">
        <font-awesome-icon icon="compass" />
        <span>{{user.location}}</span>
      </p>
      <p class="author__link">
        <font-awesome-icon icon="link" />
        <span>{{user.blog}}</span>
      </p>
    </p>
    <a :href="user.html_url" class="btn btn-info">Go github</a>
  </div>
</div>
