@import '../../../../styles/main';

div.author {
  h4 {
    font-weight: bold;
  }

  h5 {
    color: $gray-600;
  }

  .author__link {
    margin: 0;

    color: $gray-600;

    svg {
      margin-right: 5px;
    }
  }

}
