<div class="timeline__block" :class="{'timeline__block--left': isLeft, 'timeline__block--right': !isLeft}">
  <!-- timeline__block--right -->
  <div class="timeline__image timeline__image--gras">
    <i class="fas fa-trophy"></i>
  </div>
  <div class="timeline__content">
    <div class="timeline__headline">
      <h4>{{ match.name }}</h4>
      <h5>{{ match.round }}</h5>
    </div>
    <p class="">{{ match.score }}</p>
  </div>
  <div class="timeline__info">
    <p class="timeline__date">{{ match.date | formatDate }}</p>
  </div>
</div>
