<section class="box-versus container">
  <div class="row">
    <div class="col player">
      <div class="name text-left">

        <div class="row">
          <div class="col">
            <span class="flag" :class="player.flagClass"></span>
            <span class="player-name">
              <h2>{{ player.firstname }}</h2>
              <h2>
                <b>{{ player.lastname }}</b>
              </h2>
            </span>
          </div>
        </div>

      </div>
    </div>
    <div class="col opponent">
      <div class="name text-right">

        <div class="row">
          <div class="col">
            <span class="player-name">
              <h2>{{ opponent.firstname }}</h2>
              <h2>
                <b>{{ opponent.lastname }}</b>
              </h2>
            </span>
            <span class="flag" :class="opponent.flagClass"></span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3 player text-left">
      <div class="row">
        <div class="col">
          <h4>Rank:
            <b>{{ player.ranking.rank }}</b>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h1>{{ player.wins }}</h1>
        </div>
        <div class="col-12">
          <p>{{100*player.wins/(player.wins+opponent.wins) }}% Wins</p>
        </div>
        <div class="col-12">
          <p>{{ player.sets }} Sets</p>
        </div>
        <div class="col-12">
          <p>{{ player.games }} Games</p>
        </div>
      </div>
    </div>
    <div class="col-6 graph text-center">
      <VersusGraph :player-wins="player.wins" :opponent-wins="opponent.wins" :player-sets="player.sets" :opponent-sets="opponent.sets"
        :player-games="player.games" :opponent-games="opponent.games" />
    </div>
    <div class="col-3 opponent text-right">
      <div class="row">
        <div class="col">
          <h4>Rank:
            <b>{{ opponent.ranking.rank }}</b>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h1>{{ opponent.wins }}</h1>
        </div>
        <div class="col-12">
          <p>{{ 100*opponent.wins/(player.wins+opponent.wins) }}% Wins</p>
        </div>
        <div class="col-12">
          <p>{{ opponent.sets }} Sets</p>
        </div>
        <div class="col-12">
          <p>{{ opponent.games }} Games</p>
        </div>
      </div>
    </div>
  </div>

</section>
