<section class="box-versus container">
  <div class="row">
    <div class="col">
      <div class="name text-left">
        <h2>{{ player.fullname }}</h2>
        <span :class="player.flagClass"></span>
        <p>Rank: {{player.ranking.rank}}</p>
        <p>Wins: {{player.wins}}</p>
      </div>
    </div>
    <div class="col">
      <div class="name text-right">
        <h2>{{ opponent.fullname }}</h2>
        <h2>{{opponent.name}}</h2>
        <span :class="opponent.flagClass"></span>
        <p>Rank: {{opponent.ranking.rank}}</p>
        <p>Wins: {{opponent.wins}}</p>
      </div>
    </div>
  </div>

  <VersusGraph :player-value="player.wins" :opponent-value="opponent.wins" />

</section>
