@import '../../../styles/main';

section.filter-row {
  background: $gray-200;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media only screen and (max-width: 768px) {
    padding-top: .4em;
  }
}

h4 {
  margin-top: 1rem;
  @media only screen and (max-width: 768px) {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
