/* Coolors Exported Palette - coolors.co/3e325c-695379-a25269-b35168-d4eb95 */

/* HSL */
$color1: hsla(257%, 30%, 28%, 1);
$color2: hsla(275%, 19%, 40%, 1);
$color3: hsla(343%, 33%, 48%, 1);
$color4: hsla(346%, 39%, 51%, 1);
$color5: hsla(76%, 68%, 75%, 1);

/* RGB */
$color1: rgba(62, 50, 92, 1);
$color2: rgba(105, 83, 121, 1);
$color3: rgba(127, 65, 82, 1);
$color4: rgba(179, 81, 104, 1);
$color5: rgba(212, 235, 149, 1);
