<section class="timeline">
  <div class="timeline__bootstrap container">

    <div class="timeline__container">

      <div class="timeline__row timeline__row--left">
        <div class="timeline__img timeline__img--gras">
          <i class="fas fa-trophy"></i>
        </div>

        <div class="timeline__content">
          <h2>Title of section 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat
            iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
          <span class="timeline__date">Jan 14</span>
        </div>
      </div>

      <div class="timeline__row timeline__row--right">
        <div class="timeline__img timeline__img--gras">
          <i class="fas fa-gem"></i>
        </div>

        <div class="timeline__content">
          <h2>Title of section 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat
            iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
          <span class="timeline__date">Jan 14</span>
        </div>
      </div>

      <div class="timeline__row timeline__row--right">
        <div class="timeline__img timeline__img--gras">
          <i class="fas fa-chess-king"></i>
          <!-- <i class="fas fa-chess-queen"></i> -->
        </div>

        <div class="timeline__content">
          <h2>Title of section 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat
            iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
          <span class="timeline__date">Jan 14</span>
        </div>
      </div>

      <div class="timeline__row timeline__row--left">
        <div class="timeline__img timeline__img--gras">
          <i class="fas fa-ribbon"></i>
        </div>

        <div class="timeline__content">
          <h2>Title of section 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat
            iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
          <span class="timeline__date">Jan 14</span>
        </div>
      </div>

    </div>

  </div>
</section>
