<section class="timeline">

  <div class="container">

    <div class="timeline__container" v-if="!isFiltering && hasMatches">

      <TimelineEvent v-for="match in matches.slice(0, amountMatchesToShow)" :match="match" :key="match.key" />

    </div>

    <div class="row timeline__next" v-if="hasPreviousMatch">
      <div class="col text-center">
        <button class="btn btn-alert" @click.prevent="onShowNext">
          <font-awesome-icon icon="chevron-circle-right" /> Show previous match
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="alert alert-default" v-if="!isFiltering && !hasMatches">
          There are no matches of the given head 2 head with the set filter options are found!
        </div>
      </div>
    </div>

  </div>
</section>
