<section class="timeline">

  <div class="container">

    <div class="timeline__container">

      <TimelineEvent v-for="match in matches.slice(0, 5)" :match="match" :key="match.key" />

      <!-- <div class="timeline__block timeline__block--left">
        <div class="timeline__image timeline__image--gras">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="timeline__content">
          <div class="timeline__headline">
            <h3>Section Title</h3>
          </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="timeline__info">
          <p class="timeline__date">Thursday, 1 January 1970</p>
        </div>
      </div> -->

      <!-- <div class="timeline__block timeline__block--right">
          <div class="timeline__image timeline__image--clay">
            <i class="fas fa-trophy"></i>
          </div>
          <div class="timeline__content">
            <div class="timeline__headline">
              <h3>Section Title</h3>
            </div>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="timeline__info">
            <p class="timeline__date">Thursday, 1 January 1970</p>
          </div>
        </div>

        <div class="timeline__block timeline__block--left">
          <div class="timeline__image timeline__image--hard">
            <i class="fas fa-trophy"></i>
          </div>
          <div class="timeline__content">
            <div class="timeline__headline">
              <h3>Section Title</h3>
            </div>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="timeline__info">
            <p class="timeline__date">Thursday, 1 January 1970</p>
          </div>
        </div> -->

    </div>
  </div>
</section>
