@import '../../../styles/main';

.timeline {
  background: $gray-100;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em;

  @include element ('container') {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      margin-left: 29px;
      height: 100%;
      width: 4px;
      background: $gray-400;
      @media only screen and (min-width: 768px) {
        left: 50%;
        margin-left: -2px;
      }
    }
  }

  @include element ('next') {
    margin-top: 2rem;
  }

}
